/* body {
  background-color: #f8f8f8 !important
} */

.container--margin {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.container {
  transition: height 1s cubic-bezier(0, 0, 0.2, 1);
}

.card-body .empty {
  padding: 2.2rem 1.6rem;
}

.btn.btn-xl {
  height: 3rem !important;
  width: 3rem !important;
  transition: all .2s ease-in-out;
}

.btn.btn-xl:hover {
  transition: scale(1.1);
  filter: brightness(1.1);
}

.upload-btn-wrapper {
  overflow: hidden;
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.card {
  border-radius: 10.8px !important;
  border-color: transparent !important;
}

.shadow-lg {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

@media only screen and (min-width: 768px) {
  .center-v--parent {
    display:flex;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

  .center-v--child {
    margin:auto;
  }
}

.credits {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  opacity: 0.5;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vbp0zj');
  src:  url('fonts/icomoon.eot?vbp0zj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vbp0zj') format('truetype'),
    url('fonts/icomoon.woff?vbp0zj') format('woff'),
    url('fonts/icomoon.svg?vbp0zj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wheelchair-alt:before {
  content: "\e900";
}
